.pagination{
    width: 90px;
    margin: 0 auto;
}

.btn{
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    
}

.btn:active{
    background-color: rgb(4, 123, 123);
}

.pagination__btnWrapper{
    display: flex;
}