.navbar_container {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 10px;
}

.navbar {
  display: flex;
  width: 50%;
}

li {
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
span:hover {
  color: blue;
}

.link {
  text-decoration: none;
  color: black;
  color: lightgray;
}

.link--active {
  color: black;
}
.bars {
  margin-top: 18px;
  font-size: 20px;
}

@media screen and (max-width:861px) {
  .link{
      display: none;
  }
}