.footer {
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
}
